/** Globales **/
*{
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    
}
@media screen and (max-width:768px){
    *{
        overflow-x: visible;
    }
}


/** Header **/
header{
    width: 100%;
}
.contenedor{
    width: 100%;
    background-color: rgb(40, 105, 105);
    color: white;
    display: flex;
    justify-content: space-between;
    padding: 15px;
    align-items: center;
    list-style: none;
    position: fixed;
    z-index: 100;    
}

.contenedor-main{
    width: 80%;
    margin: auto;
}

.icono{
    display: flex;
    text-decoration: none;
    color: white;
    align-items: center;
    
}
@media screen and (max-width: 768px) {
    .contenedor{
        display: flex;
        flex-wrap: nowrap;
        flex-direction: column;
        position: relative;
    }
}
.icono h1{
    margin-left: 7px;
    font-family: 'Fredoka One', cursive;
    text-transform: uppercase;
    font-weight: lighter;
}
.icono i{

    font-size: 3.0rem;

    font-size: 2.5rem;

}

.buscador {
    display: flex;
    width: calc(33% - 2em);
    align-items: center;
}
.buscador label{
    padding-left: 5px;
    font-size: 1rem;
    background-color: #1c5050;
    padding: 4.7px 6px;
}
.buscador label:hover, .icono i:hover, .redes a:hover{
    color:#8FFFFF;
}
.buscador input{
    padding: 0.3rem;
    width: 100%;
}
@media screen and (max-width: 768px) {
    .buscador{
        margin: 1em  0em;
        display: flex;
        width: 50%;
    }
}    
.redes{
    padding-right: 2rem;
}
.redes a{
    text-decoration: none;
    color: white;
    font-size: 20px;
    padding-right: 5px;
    border-radius: 50%;
}
@media screen and (max-width: 768px) {
    .redes{
        padding-right: 0;
    }
    .redes a{
        padding-right: 1em;
        align-items: center;
    }
}

.slider img{
    
    width: 100%;
    margin-top: 0;
    
    
}

@media screen and (max-width:768px){
    a.desplegable{
        display: flex;
        height: 55px;
        background-image: url(../img/hamburger.gif);
        background-repeat: no-repeat;
        background-position: center;
        cursor: pointer;
        background-color:rgba(36, 129, 129, 0.705) ;
        width: 100%;
    }
}

/** Main Acerca  **/

.contenido-principal{
    
    text-align: center;
    width: 80%;
    margin: auto;
    padding: 2.5rem;
}
.titulares{
    font-family: 'Comfortaa', cursive;
    font-weight: bolder;
    font-size: 2.3rem;
}
@media screen and (max-width:768px){
    .titulares{
        font-size: 1.8rem;
    }
}

.card h3{
    background-color: #8C4B24;
    font-family: 'Open Sans Condensed', sans-serif;
    font-weight: 300;
    font-size: 1.2rem;
    padding: 5px;
    border-radius: 8px;
    margin-top: 5px;
}
.card h3:hover{
    background-color: #8C4B24;
    transition: background-color .2s;
}
.card a{
    color: white;
    text-decoration: none;
}
.card1{
    width: 225px;
    height: 225px;
}

.imghospital{
    width: 225px;
    height: 225px;

}
.card{
    display: flex;
    width: 100%;
    justify-content: space-between;
    width: 100%;
    padding-top: 2rem;
    flex-wrap: wrap;

}
.card img{
    width: calc(33% -1em);
    border-radius: 150px;
}

@media screen and (max-width: 768px) {
    .card{
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    .card article{
        margin-bottom: 2rem;
    }
}
/** Main llamado **/

.llama{
    display: flex;
    justify-content: space-around;
    background-color: #1c5050;
    color: white;
    text-align: center;
    align-items: center;
    padding: 2rem;
}
.llama p{
    font-family: 'Comfortaa', cursive;
    font-size: 1.4rem;
}

.llama h3{
    font-family: 'Comfortaa', cursive;
    font-size: 3rem;
    padding-top: 1.5rem;
}

.llama span{
    font-size: 6.5rem;
    padding-right: 1rem;
    overflow: hidden;
}
.llamado{
    font-family: 'Comfortaa', cursive;
    display: flex;
    font-size: 5rem;
    align-items: center;
}
@media screen and (max-width: 768px) {
    .llama p{
        font-size: 1rem;
    }
    .llama h3{
        font-size: 1.5rem;
    }
    .llamado{
        font-size: 2.5rem;
    }
    .llamado span{
        font-size: 2.5rem;
        padding-right: 0;
    }
    .llamado h2{
        font-size: 2.5rem;
    }
}

/** Footer **/

footer{
    display: flex;
    justify-content: space-between;
    
    padding: 1.3rem 5rem;
    background-color: rgb(8, 8, 8);
    color: white;
    font-family: 'Quicksand', sans-serif;
}

.integrantes h3{
    text-align: center;
}    
.menu-inferior{
    display: flex;
    flex-direction: column;
    text-align: center;
}

.menu-inferior a{
    color: white;
    text-decoration: none;
}

.menu-inferior a:hover{
    color: #80401b;
}

.redes-sociales a{
    color: white;
    text-decoration: none;
}
.logo-redes{
    display: flex;
    justify-content: space-around;
    font-size: 1.5rem;
}
.redes-sociales a:hover{
    color: #80401b;
}
.titulo-footer{
    padding-bottom: 0.8rem;
}
@media screen and (max-width: 768px) {
    footer{
        flex-direction: column;
        width: 100%;
        align-items: center;
        padding: 0;
    }
    .titulo-footer{
        padding-bottom: 0.2rem;
        padding-top: 1rem;
    }
}

/** Pagina enfermedades **/
.barra-inferior-nav{
    margin-top: 3.6rem;
    background-color:rgba(36, 129, 129, 0.705) ;
    padding-top: 1.5rem;
    padding-bottom: 1.2rem;
}
.barra-inferior{
    display: flex;
    width: 60%;
    justify-content: space-around;
    margin: auto;
}
.barra-inferior a{
    color: white;
    text-decoration: none;
    font-family: 'Quicksand', sans-serif;
}
.barra-inferior a:hover{
    color: #80401b;
    font-weight: bold;
}

    @media screen and (max-width: 768px) {
   
    .barra-inferior-nav{
        margin-top: 0;
    }
    .barra-inferior{
        flex-direction: column;
        text-align: center;
    }
    .barra-inferior a{
        font-size: 1rem;
    }
    .barra-inferior li{
        margin-top: 0.4em;
        list-style: none;
    }
}
.selector {
    border-radius: 15px;
    border-style: solid ;
    border-color: rgba(128, 128, 128, 0.596);
    display: flex;
    background-color: rgba(128, 128, 128, 0.281);
    padding: 15px;
    text-align: start;
    margin-top: 2rem;
    color: rgb(128, 128, 128);
    margin-left: 10px;
}
.selector p{
    margin-left: 10px;
    font-family: 'Comfortaa', cursive;
}
.contenedor-cards{
    margin-top: 2rem;
}
.card-enfermedades{
    display: flex;
    justify-content: space-around;
    flex-basis: calc(50% - 10px);
}
@media screen and (max-width:768px){
    .card-enfermedades{
        flex-direction: column;
        margin-top: 1.5rem;
    }
    .enfermedades-tit{
        font-size: 1.8rem;
    }
    .boton-detalle{
        width: 90%;
    }
}

.card-enfermedades img{
    width: 200px;
    height: 200px;
    object-fit: cover;
    border-radius: 15px;
    margin-bottom: 2rem;
}
.texto{
    width: 60%;
    text-align: start;
    padding-left: 15px;
    font-family: 'Comfortaa', cursive;
}
.texto h3{
    text-align: center;
    font-weight: bolder;
    margin-bottom: 10px;
}
.boton-detalle{
    color: white;
    text-decoration: none;
    background-color:rgba(36, 129, 129, 0.705);
    padding: 0.6rem;
    display: inline-block;
    margin-top: 20px;
    border-radius: 5px;
}

.boton-detalle:hover{
    background-color:#1c5050 ;
    transition: background-color .2s;
}
@media screen and (max-width:768px){
    .texto{
        width: 90%;
        text-align: center;
    }
}

/** Pagina mapa **/
.mapa iframe{
    width: 100%;
    height: 40rem;
    padding-top: 2.5rem;
}
@media screen and (max-width:768px){
    .mapa iframe{
        height: 25rem;
    }
}

/** Pagina covid**/

.descipcion-covid{
    display: flex;
}
.descipcion-covid img{
    flex: 1;
    height:15rem;
    margin-right: 2rem;
    border-radius: 15px;
}
.descipcion-covid p{
   flex: 1;
   font-family:'Comfortaa';
}
@media screen and (max-width:768px){
    .descipcion-covid{
        flex-direction: column;
        width: 100%;
        text-align: center;
    }
    .descipcion-covid img{
        margin-right: 0;
        margin-bottom: 1rem;
    }
}
section{
    font-family: 'Comfortaa', cursive; 
}
section h3{
    text-align: center;
    text-transform: uppercase;
    font-size: 1.5rem;
    font-weight: bold;
}
.formulario{
    display: flex;
    margin-top: 1em;
}
.descripcion-formulario{
    flex: 1;
    margin-right: 1.5rem;
}
.covid-formulario{
    padding-top: 2rem;
}
.descripcion-formulario h4{
    padding-top: 1rem;
}
@media screen and (max-width:768px){
    .formulario{
        display: flex;
        flex-direction: column;
        text-align: center;
    }
}
.formulario-covid{
    flex: 1;
}
.formulario-covid input{
    border-radius: 5px;
    margin: .2rem 0 .4rem 0;
}
@media screen and (max-width:768px){
    .formulario-covid input{
        width: 100%;
    }
}
.formulario-input{
    padding: 2px;
}
.imagenes-sintomas-superior{
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    justify-content: space-around;
}
.imagenes-sintomas-inferior{
    display: flex;
    justify-content: center;
}
.imagenes-sintomas img{
    height: 150px;
    width: 150px;
}
.input-nombre{
    width: 98%;
}
.dni-telefono{
    display: flex;
    justify-content: space-between;
}
.dni{
    width: 100%;
    padding-right: 1rem;
}
.telefono{
    width: 100%;
}
.dni-telefono input{
    width: 97%;
}

.ciudad-dirrecion{
    display: none;
    justify-content: space-between;
    align-items: center;
    padding-top: 1rem;
}
.dirrecion-respirar{
    display: flex;
    flex-direction:column;
}
.ciudad-respirar{
    display: flex;
    flex-direction:column;
}
.ciudad-sexo{
    display: flex;
    align-items: center;
}
.ciudad{
    display: flex;
    flex-direction: column;
    padding-right: 1.6em;
    width: 47%;   
}
.ciudad input{
    width: 100%;
}

.pais-visitados{
    margin-top: 1em;
}

.has-viajado{
    display: flex;
    align-items: center;
    width: 100%;
    padding-bottom: 0.3em;
}
.has-viajado label{
    margin-right: 0.2em;
}
.has-viajado input{
    margin-right: 0.5em;
}
.selector-pais select{
    width: 40%;
}
.sintomas{
    margin-top: 1.6em;
}
.cuestionario{
    display: flex;
    flex-direction: column;
    align-content: center;
}
.sintomas-covid{
    display: flex;
    justify-content: space-between;
    margin-top: 0.2rem;
}
@media screen  and (max-width:768px){
    .sintomas-covid{
        flex-direction: column;
    }
}
.sintomas-covid:first-child{
    margin-top: 0.8rem;
}
.flex{
    display: flex;
    align-items: center;
    margin-right: 0.4em;
    font-size: 0.9em;
    margin-top: 0.2em;
}
.flex input{
    size: 0.8em;
}
.espacio{
    margin-right: 0.4em;
}
.selector-has-viajado{
    display: flex;
}
.seleccionar-opcion{
    display: flex;
    flex-direction: row;
}
@media screen  and (max-width:768px){
    .seleccionar-opcion{
        flex-direction: row;
        justify-content: space-around;
    }
    .si,.no{
        display: flex;
        width: 3rem;
        margin-top: 0.8rem;
        margin-bottom: 1rem;
    }
}
.boton-formulario{
    margin-top: 2rem;
    display: flex;
}

.btn{
    background-color: rgba(36, 129, 129, 0.705);
    border: none;
    text-transform: uppercase;
    color: white;
    padding: 1em;
}
.btn:hover{
    background-color:#1c5050 ;
    transition: background-color .2s;
}
.error{
    color: red;
    padding-top: 1rem;
}

@media screen and (max-width:768px){
    .formulario-covid{
        margin-top: 1rem;
    }
    .dni-telefono{
        flex-direction: column;
    }
    .ciudad-sexo{
        flex-direction: column;
    }
    .ciudad{
        width: 97%;
        padding-right: 0;
    }
    .has-viajado{
        flex-direction: column;
    }
    .has-viajado div{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .input-si{
        display: flex;

    }
    .selector-has-viajado{
        margin-top: 0.4rem;
        margin-bottom: 1rem;
    }
}

.medidas-precaucion{
    padding-top: 2em;
}
.imagenes-precaucion{
    display: flex;
    flex-direction: column;
    margin-top: 1em;
}

@media screen and (max-width:768px){
    .medidas-precaucion{
        margin: auto;
        width: 90%;
    }
}
.imagenes{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.imagenes img{
    width: 12em;
    height: 12em;
}
@media screen and (max-width:768px){
    .imagenes{
        justify-content: center;
    }
    .imagenes img{
        padding-top: 1.5rem;
    }
}
aside h3{
    text-align: center;
    text-transform: uppercase;
    font-size: 1.5rem;
    font-weight: bold;
    font-family: 'Comfortaa', cursive;
    padding-top: 2em;
    padding-bottom: 1em;
}

.info-hospital{
    display: flex;
    justify-content: space-between;
    font-family: 'Comfortaa', cursive;
}
.info-hospital H4{
    margin-bottom: 0.6em;
}
.info-hospital p{
    margin-bottom: 0.2em;
}
.mapa-hospital{
    width: 60%;
}
.mapa-hospital iframe{
    width: 100%;
    height: 15em;
}
.mapa img{
    width: 600px;
}
imagen-contacto{
    width: 200px;
}
@media screen and (max-width:768px){
    .info-hospital{
        flex-wrap: wrap;
    }
    .mapa-hospital{
        width: 100%;
        margin: auto;
        padding: 1rem 0;
    }
}
/*pagina de contacto*/
.contacto{
    display: flex;
    margin-top: 1.5rem;
}
.datos{
    flex: 1;
}
.datos img{
    width: 60%;
}
.datos a{
    text-decoration: none;
    color: black;
    font-weight: bold;
}
.datos p{
    font-weight: bold;
    margin-top: 0.6rem;
}

.formulario-contacto{
    flex: 1;
    font-weight: bold;
    text-align: justify;
    width: 100%;
}
.formulario-contacto label{
    margin-bottom: 0.4rem;
}
.input-formulario-contacto{
    padding: 0.4rem;
}
.formulario-contacto textarea{
    height: 3rem;
    resize: none;

}
.formulario-contacto li{
    display: flex;
    padding-top: 1.4rem;
    flex-direction: column;
}
.formulario-contacto li:first-child{
    padding-top: 0;
}

.submit-formulario-contacto{
    background-color:rgba(36, 129, 129, 0.76);
    border-style: none;
    color: white;
    padding: 1rem;
    width: 10rem;
    border-radius: 0.4rem;
}
.submit-formulario-contacto:hover{
    background-color:rgba(36, 129, 129, 1);
    transition: 0.4s;
}

@media screen and (max-width:790px){
    .contacto{
        flex-direction: column;
    }
    .datos{
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        padding-bottom: 1rem;
    }
    .datos img{
        width: 90%;
    }
    .formulario-contacto{
        width: 90%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .formulario-contacto ul{
        width: 90%;
    }
    .formulario-contacto label{
        margin-bottom: 0;
    }
    .formulario-contacto li{
        margin-top: 0.4rem;
    }
    .submit-formulario-contacto{
        width: 100%;
    }
}

